__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/

.env
.env.*
.git/
.gitignore
.venv/
venv/

*.md
*.log
.vscode/
.idea/
.cursor/

tests/
requirements-dev.txt
pyproject.toml
deploy-assets/
.gitlab-ci.yml
storage/
docs/
